.MMM-Weather-SMHI .w-icon-large {
  font-size: 65%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-Weather-SMHI .day {
  padding-left: 0;
  padding-right: 25px;
}

.MMM-Weather-SMHI .w-icon-small {
  text-align: left;
  padding-right: 15px;
  font-size: 80%;
}

.MMM-Weather-SMHI .mm-unit {
  font-size: 50%;
}

.MMM-Weather-SMHI .header {
  padding-top: 15px;
}
